#exprBtn {
    width: 100px;
    height: 50px;
}

#exprBtnsContainer {
    text-align: center;
}

.Home {
    position: relative;
}

.btnsWrapper {
    text-align: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 35%;
    margin-top: 5%;
}

.divider {
    width:15px;
    height:auto;
    display:inline-block;
}