.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
  background-image: url(./images/blur-hospital.jpg);
  height: 100%; 
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}

.App-logo-header {
  background-image: url(./images/segur_header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}